<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/athletes/athlete.json.jbuilder",
      athlete: current_user
    ).html_safe %></script>
<% end %>

<script>
  window.images = {
    splash_image: "<%= asset_path("splash-image.jpg")%>",
    demo_profile_pic: "<%= asset_path("demouser-profile-pic.png")%>",
    demo_map: "<%= asset_path("demo-map.png")%>",
    route_builder_img: "<%= asset_path("route-list-graphic.png") %>",
  }
</script>

<main id="root">react is broken</main>