<!DOCTYPE html>
<html>
  <head>
    <title>Straya</title>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBuJu2ZDLyRTqEzqbTTchKTGYZzmLTJzmU" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>

    <%= yield %>

  </body>
</html>
